@import "../../../shared/styles/tailwind.css";
@import "primeicons/primeicons.css";
@import "../../../projects/teacher/node_modules/primereact/resources/themes/lara-light-blue/theme.css";
@import "../../../projects/teacher/node_modules/primereact/resources/primereact.min.css";