:host ::ng-deep {
    .p-card {
        border-radius: 2rem;
        border: 1px solid #f1f5f9;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    }

    .dark .p-card {
        background: #1f2937;
        border-color: #374151;
    }
}