:host ::ng-deep {
    .growup-premium-dialog {
        .p-dialog-header {
            background: transparent;
            border: none;
            padding: 2.5rem 2.5rem 1rem 2.5rem;
            .p-dialog-title {
                font-weight: 900;
                font-size: 1.5rem;
                letter-spacing: -0.025em;
            }
        }
        .p-dialog-content {
            background: transparent;
            padding: 1rem 2.5rem 2.5rem 2.5rem;
        }
    }
}
